@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/web/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PTSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/web/ptsansbold.woff") format("woff");
}