@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/web/ptsans.woff") format("woff");
  src: url("../fonts/web/ptsans.ttf") format("truetype");
}

@font-face {
  font-family: "PTSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/web/ptsansbold.woff") format("woff");
  src: url("../fonts/web/ptsansbold.ttf") format("truetype");
}